    {{> head }}
    {{> navbar }}

    <div class="row">
        <div class= "col-8">
            <h1>Imagen:</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, deleniti veritatis perferendis dolor deserunt odio eum numquam eaque unde quos neque temporibus ipsa quisquam rem accusantium. 
                Quis accusamus voluptatem tempore.</p>
        </div>

        <div class= "col-4">
            <img src="assets/img/yog.jpg" class="img-thumbnail">
        </div>

    </div>
    {{> footer }}